
#viewport, body, html{
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#gol_canvas{
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
}

.input-group{
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
}

.input-group > label{
	display: block;
	font-size: 10px;
	text-align: left;
}

.input-group > input{
	display: block;
	font-size: 10px;
	margin: 0;
	padding: 0;
	border: 0;
}

.accordion{
	z-index: 10;
	margin: 0;
	padding: 0;
	border: 0;
	background: grey;
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.accordion > .head{
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	padding: 2px 5px;
	background: darkgray;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.accordion > .body{
	margin: 0;
	padding: 5px 5px 10px 5px;
	border: 0;
	text-align: center;
}